/* The container */

.container--qiuz {
  max-width: 1160px;
  margin: 0 auto;
}

.box--qiuz {
  padding: 20px 30px;
}

.form-quiz {
  &__anwser {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & > input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    &--checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;
      &::after {
        content: "";
        position: absolute;
        display: none;
        top: 7px;
        left: 7px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
      }
    }
    &:hover input ~ &--checkmark {
      background-color: #ccc;
    }
    & input:checked ~ &--checkmark {
      background-color: green;
      &::after {
        display: block;
      }
    }
  }
}

/* CSS */

.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
.classic-2 {
  border: none;
  font-weight: bold;
  font-family: sans-serif;
  padding-bottom: 8px;
  background:linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation:c2 2s linear infinite;
}
@keyframes c2 {to{background-size: 100% 3px}}
